*{
    display: flex;
    margin-left: 10px;
}
.a{
width: 200px;
height: 200px;
background-color: rgb(19, 155, 7);
background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.b{
width: 200px;
height: 200px;
border: 20px solid rgb(15, 122, 38);
background-color: rgb(32, 145, 17);
background-image: url(https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.c{
    width: 200px;
    height: 200px;
    border: 20px solid rgb(6, 136, 45);
    background-color: rgb(20, 146, 20);
    padding: 20px;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.d{
    width: 200px;
    height: 200px;
    border: 20px solid rgb(11, 138, 43);
    background-color: rgb(28, 177, 53);
    padding: 20px;
    margin: 20px;
    background-image: url(https://images.pexels.com/photos/634548/pexels-photo-634548.jpeg?auto=compress&cs=tinysrgb&w=600);
}